#{extends 'main.html' /}
#{set title:'Video Notes' /}

<div class="row">
    <div class="col-md-12 column">
        <div class="jumbotron" style="margin-top:100px;">
            <h1>
                Welcome to collaborative VideoNotes
            </h1>

            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. <a class="btn btn-success btn-large" href="/">Learn more</a>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 column">
        <h2>
            Share notes on every Video
        </h2>

        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.
        </p>

        <p>
            <a class="btn btn-primary" href="#">View details »</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2>
            Share your own videos
        </h2>

        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.
        </p>

        <p>
            <a class="btn btn-primary" href="#">View details »</a>
        </p>
    </div>
    <div class="col-md-4 column">
        <h2>
            To some other stuff
        </h2>

        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui.
        </p>

        <p>
            <a class="btn btn-primary" href="#">View details »</a>
        </p>
    </div>
</div>