<!DOCTYPE html>
<html>
<head>
    <title>Timeline</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" language="javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/timeline.js"></script>
</head>
<body>

    <div id="timer">
        Not started yet.
    </div>

    <div id="buttons">
        <div>
            Delay (&ge; 5) <input id="delay" style="width: 60px;text-align: center" type="text" placeholder="5" value="5"/>
        </div>
        <div>
            <button class="btn btn-default" href="javascript:;" onclick="startTimer()">Start Timer</button>
            <button class="btn btn-default" href="javascript:;" onclick="window.location.reload()">Reset</button>
        </div>
    </div>

    <div id="timeline">
        <div class="panel panel-default note" data-start="0s">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            </div>
            <div class="panel-footer"><a href="#">by User3465</a></div>
        </div>
        <div class="panel panel-default note" data-start="3s">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            </div>
            <div class="panel-footer"><a href="#">by User3465</a></div>
        </div>
        <div class="panel panel-default note" data-start="5s">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            </div>
            <div class="panel-footer"><a href="#">by User3465</a></div>
        </div>
        <div class="panel panel-default note" data-start="8s">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            </div>
            <div class="panel-footer"><a href="#">by User3465</a></div>
        </div>
        <div class="panel panel-default note" data-start="10s">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            </div>
            <div class="panel-footer"><a href="#">by User3465</a></div>
        </div>
        <div class="panel panel-default note" data-start="14s">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            </div>
            <div class="panel-footer"><a href="#">by User3465</a></div>
        </div>
        <div class="panel panel-default note" data-start="16s">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            </div>
            <div class="panel-footer"><a href="#">by User3465</a></div>
        </div>
        <div class="panel panel-default note" data-start="20s">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            </div>
            <div class="panel-footer"><a href="#">by User3465</a></div>
        </div>
        <div class="panel panel-default note" data-start="25s">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            </div>
            <div class="panel-footer"><a href="#">by User3465</a></div>
        </div>
        <div class="panel panel-default note" data-start="30s">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            </div>
            <div class="panel-footer"><a href="#">by User3465</a></div>
        </div>
        <div class="panel panel-default note" data-start="34s">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            </div>
            <div class="panel-footer"><a href="#">by User3465</a></div>
        </div>

    </div>

</body>
</html>