<!DOCTYPE html>
<html>
<head>
    <title>Timeline</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" language="javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/timeline.js"></script>
</head>
<body>

    <div id="timer">
        Not started yet.
    </div>

    <div id="buttons">
        <div>
            Delay (&ge; 5) <input id="delay" style="width: 60px;text-align: center" type="text" placeholder="5" value="5"/>
        </div>
        <div>
            <button class="btn btn-default" href="javascript:;" onclick="startTimer()">Start Timer</button>
            <button class="btn btn-default" href="javascript:;" onclick="window.location.reload()">Reset</button>
        </div>
        <div>
            <button class="btn btn-default" href="javascript:;" onclick="updateTimeline()">Send new Notes</button>
            <button class="btn btn-default" href="javascript:;" onclick="addTimeToPanel()">Show Timeslots</button>
        </div>
    </div>

    <div id="timeline">

    </div>

</body>
</html>