*{<div id="note-container">}*
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div id="note-title-group" class="form-group">
                <label for="note-title">Title</label>
                <input type="text" class="form-control" id="note-title" name="note-title" placeholder="Note title..."/>
            </div>

            <div id="note-content-group" class="form-group">
                <label for="note-content">Content</label>
                <textarea class="form-control" placeholder="Note" content=""
                          name="note-content" id="note-content" cols="10" rows="2"></textarea>
            </div>

            <div id="note-content-group" class="form-group">
                <label for="note-start">Start time</label>
                <input type="text" class="form-control" name="note-start" id="note-start" placeholder="00:00"/>
            </div>

            <input type="text" hidden="hidden" name="note-start-int" id="note-start-int" value=""/>
            <input type="text" hidden="hidden" name="video-id" id="video-id" value="27"/>
            <input type="text" hidden="hidden" name="username" id="username" value="user"/>


            #{include 'add-tag.html'/}
            <span class="row" style="margin-top: 20px">
                <button id="note-save" type="submit" class="btn btn-danger pull-right">Save note</button>
            </span>
        </div>
    </div>
</div>