*.class

# Package Files #
*.jar
*.war
*.ear
/eclipse
.classpath
.project
.settings
tmp
website/tmp
/RemoteSystemsTempFiles
/website/.idea
/website/.settings
/website/.classpath
/website/MasterLabProject09_2013.iml
.metadata

*.iml
website/Collaborative VideoNotes.ipr
website/Collaborative VideoNotes.iws
