.modal-dialog {
    width: 1000px;
}

#video-info {
    margin-left: 20px;
    /*background-image: url(../img/no-signal.gif);*/
    width: 480px;
    height: 360px;
}

img.logo {
    height: 55px;
}

input.search {
    width: 519px;
}

button.new-video {
    margin-left: 20px;
}

button.new-video > a {
    text-decoration: none;
    color: white;
}

form.search-form > button {
    vertical-align: top;
}

nav.filter-oprions {
    margin-top: -20px;
}

nav.navbar.navbar-default.filter-oprions {
    background: #F5F2F2;
}

.navbar-default.filter-oprions .navbar-nav > .open > a,
.navbar-default.filter-oprions .navbar-nav > .open > a:hover,
.navbar-default.filter-oprions .navbar-nav > .open > a:focus {
    background-color: #E9E3E3;
}

nav.filter-oprions > .collapse {
    padding-left: 135px;
}

#content {
    margin-left: 150px;
    margin-right: 150px;
}

#timeline-wrapper {
    padding: 0px 0px;
    width: 100%;
    z-index: 100;
}

#timeline {
    width: 100%;
    background-color: lightgrey;
    overflow-x: scroll;
    z-index: -100;
    margin: 0px 23px;
}

#timeline .note {
    width: 200px;
    height: 280px;
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    margin-bottom: 0px !important;
    z-index: -2;
}

#timer, #buttons {
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

#timer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    border-bottom: 2px dotted darkgray;
}

#buttons button {
    font-size: 20px;

}

.panel-body {
    min-height: 185px;
}

.panel-default > .panel-heading {
    max-height: 43px;
}

.dropdown-menu-details {
	padding: 5px 10px 5px 20px;
}