#timeline {
    width: 100%;
    background-color: lightgrey;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 50px 5px;
    padding: 5px;
}

#timeline .note {
    width: 200px;
    height: 280px;
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    margin-bottom: 0px !important;
}

#timer, #buttons {
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

#timer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    border-bottom: 2px dotted darkgray ;
}

#buttons button {
    font-size: 20px;

}

.panel-body {
    min-height: 185px;
}

.panel-default>.panel-heading {
    max-height: 43px;
}

.video {
    position: relative;
    margin-bottom: 10px;
}

.video a {
    position: absolute;
    display: block;
    background: url('../img/play.png');
    background-repeat: no-repeat;
    background-position: 110px 40px;
    height: 180px;
    width: 320px;
    top: 0px;
    left: 0px;
}

.video img {
    padding: 0 5px 5px 0;
}

.video h3 {
    margin-top: 0;
}

.video:nth-child(odd) {
    background: #F2F2F2;
}