/* captions on the index page*/
div.caption{
    overflow: hidden;
}
/* footer */
footer {
    display: block;
}

.bs-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

/* modal */
.modal-dialog {
    width: 1000px;
}

/* addVideo */
#video-info {
    margin-left: 20px;
    /*background-image: url(../img/no-signal.gif);*/
    width: 480px;
    height: 360px;
}

img.logo {
    height: 55px;
}

input.search {
    width: 519px;
}

button.new-video {
    margin-left: 20px;
}

button.new-video > a {
    text-decoration: none;
    color: white;
}

form.search-form > button {
    vertical-align: top;
}

nav.filter-oprions {
    margin-top: -20px;
}

nav.navbar.navbar-default.filter-oprions {
    background: #F5F2F2;
}

.navbar-default.filter-oprions .navbar-nav > .open > a,
.navbar-default.filter-oprions .navbar-nav > .open > a:hover,
.navbar-default.filter-oprions .navbar-nav > .open > a:focus {
    background-color: #E9E3E3;
}

nav.filter-oprions > .collapse {
    padding-left: 135px;
}

#content {
    margin-left: 150px;
    margin-right: 150px;
}

/**
***********************
*
*  TIMELINE
*
***********************
*/

#timeline {
    padding: 0px;
    height: 250px;
    position: relative;
    border: 1px solid darkgray;
    border-bottom: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top,  #cccccc 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cccccc 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}

#timeline #pastNotes, #timeline #futureNotes {
    padding: 10px 20px;
    height: 100%;
    float: left;
    opacity: 0.5;
    overflow-y: scroll;
}

#timeline #pastNotes {
    border-right: 1px dashed darkgray;
}

#timeline #currentNotes {
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    float: left;
    overflow-y: scroll;
}

#timeline #mainPanel {
    padding: 0 5px;
    min-width: 500px;
    height: 100%;
    float: left;
    border-right: 1px dashed darkgray;
}

#timeline #optionsPanel {
    width: 200px;
    height: 100%;
    border-right: 1px dashed darkgray;
    float: left;
}

#timeline #options {
    font-size: 30px;
    text-align: center;
    padding: 0 5px;
}

#timeline #options div {
    height: 50%;
}

#timeline #options #currentTime {
    padding-top: 10px;
}


#timeline #options .btn {
    font-size: 35px;
    height: 125px;
    line-height: 108px;
}

#timeline .note {
    width: 100px;
    min-height: 62px;
    padding: 5px;
    margin: 5px 5px 0 0;
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;

    /* Gradient */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

#timeline .noteHighlighted {
    border-color: #d9534f !important;
}

.row iframe {
    margin: 0 auto;
}

#mainFlipBox, #optionsPanel {
    background-color: rgba(0, 0, 0, 0) !important;
    height: 100%;
}

#mainFlipBox input, #mainFlipBox textarea {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px dashed black;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
    height: 100%;
}

#slideHandler {
    text-align: center;
}

.deleteTag:hover, #closeNoteBlock:hover, #jumpBtn:hover, .note {
    cursor: pointer;
}

.noteBlock {
    height: 100%;
}

.noteBlock .panel-footer {
    position: absolute;
    bottom: 0;
    width: 99%;
}

#test{
    width: 40%;
}
#test input,#test textarea{
    margin: 20px;
}