#{extends 'main.html' /}
#{set title:'CVN' /}

#{set 'moreStyles'}
    <link href="@{'public/nested/style.css'}" rel="stylesheet">
#{/set}

#{set 'moreScripts'}
    <script type="text/javascript" src="@{'/public/js/video-info-retrieve.js'}"></script>
    <script type="text/javascript" src="@{'public/nested/makeboxes.js'}"></script>
    <script type="text/javascript" src="@{'public/nested/jquery.nested.js'}"></script>
#{/set}

<div class="row clearfix">

	#{list items:videos, as:'video'}
		<div class="col-md-2">
			<div class="thumbnail">
				<a href="@{VideoController.video(video.id)}">
					<img alt="300x200" src="http://img.youtube.com/vi/${video.url}/0.jpg">
				</a>
				<div class="caption">
					<h4>
						${video.title} 
					</h4>
					<p>
						<span class="truncate">${video.description}</span>
					</p>
					<p>
						<a class="btn btn-primary"  href="@{VideoController.video(video.id)}">Show</a>
					</p>
				</div>
			</div>
		</div>
	#{/list}

</div>

