#{extends 'main.html' /} #{set title: "${video.title}" /} #{stylesheet
'video-page.css'/}


<div class="page-header">
	<h1>${video.title}</h1>
</div>
<div id="container">
	<div id="player"></div>

	<div id="note-container">
		<button id="add-new-note" type="submit" class="btn btn-success">+
			New note</button>

		<div id="new-note">

			#{form @NoteController.saveNote(), method:"POST"}
			<div id="note-title-group" class="form-group">
				<label for="note-title">Title</label> <input type="text"
					class="form-control" id="note-title" name="note-title"
					placeholder="Note title..." />
			</div>

			<div id="note-content-group" class="form-group">
				<label for="note-content">Content</label>
				<textarea class="form-control" placeholder="Note" content=""
					name="note-content" id="note-content" cols="10" rows="1"></textarea>
			</div>

			<div id="note-content-group" class="form-group col-md-6">
				<label for="note-start">Start time</label> <input type="time"
					class="form-control" name="note-start" id="note-start"
					placeholder="00:00" />
			</div>
			<div id="note-content-group" class="form-group col-md-6">
				<label for="note-end">End time</label> <input type="time"
					class="form-control" name="note-end" id="note-end"
					placeholder="00:00" />
			</div>


			<input type="text" hidden="hidden" name="note-start-int"
				id="note-start-int" value="" /> <input type="text" hidden="hidden"
				name="note-end-int" id="note-end-int" value="" /> <input type="text"
				hidden="hidden" name="video-id" id="video-id" value="${video.id}" />


			#{include 'add-tag.html'/} <span class="row" style="margin-top: 20px">
				<button id="note-save" type="submit"
					class="btn btn-success pull-right">Save note</button>
			</span> #{/form}
		</div>
	</div>


</div>

<div class="clearfix"></div>

<div id="slideHandler">
	<input id="autoslide" type="checkbox" checked="checked" />
	Automatically slide
</div>

<div id="timeline">
	<div id="noNotesAvailable" class="panel panel-default">
		<div class="panel-body">
			Currently there are no notes for this video. Feel free to add some,
			by clicking the "<span style="color: #13987e">+ New note</span>"
			button on the top right.
		</div>
	</div>
</div>

#{set 'moreStyles'} #{/set}
<script src="/public/js/timeline.js"></script>
<script>

    $('#note-content').autogrow();

    initializeTimeline(${video.id});

    var player;
    $("#add-new-note").click(function () {
        if (!$("#new-note").is(":visible")) {
            $("#new-note").slideDown(200);
            $(this).text("Close");
        } else {
            $("#new-note").slideUp(200);
            $(this).text("+ New note");
        }
    })


    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '390',
            width: '640',
            videoId: '${video.url}',
            events: {
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerStateChange(event) {
        if (event.data === 1) {  //if the video is playing start catching events
            checkTimePointsOnVideo();
        }
    }


    /* !!!contains timer that runs slideTimeline */
    function checkTimePointsOnVideo() {
        addTimeToPanel();
        /* catches all timepoints on the video*/

        if (!player.getCurrentTime) {
            return false;
        }

        var interval = setInterval(function () {
            /* player.getPlayerState() -- Possible values are unstarted (-1), ended (0), playing (1), paused (2), buffering (3), video cued (5). */
            if (player.getPlayerState() === 1) {
                var played = Math.round(player.getCurrentTime());
                slideTimeline(played);
            } else if (player.getPlayerState() === 0 || player.getPlayerState() === 2) {
                clearInterval(interval);
            }
        }, 1000);
    }

    var startSeekTime = 0;
    var endSeekTime = 0;

    $("#note-start").change(function () {
        var time = $(this).val().split(":");
        startSeekTime = parseInt(time[0]) * 60 + parseInt(time[1]);
        //player.seekTo(seekTime, false );

        player.cueVideoById("${video.url}", startSeekTime, endSeekTime, "large");
        $("#note-start-int").val(startSeekTime);
    })

    $("#note-end").change(function () {
        var time = $(this).val().split(":");
        endSeekTime = parseInt(time[0]) * 60 + parseInt(time[1]);
        //player.seekTo(seekTime, false );

        player.cueVideoById("${video.url}", startSeekTime, endSeekTime, "large");
        $("#note-end-int").val(endSeekTime);

    })


</script>