#{extends 'main.html' /}
#{set title: "${video.title}" /}
#{stylesheet 'video-page.css'/}


<h3 id="header">CVN - ${video.title}</h3>
<div class="row">
    <div class="container wrap">
        <div id="player"></div>
        <script src="https://www.youtube.com/iframe_api"></script>
    </div>
</div>


<div class="clearfix"></div>

<div id="slideHandler">
    <input id="autoslide" type="checkbox" checked="checked"/>
    Automatically slide
</div>
<div id="timeline-wrapper">
    <img src="/public/img/add-pointer.png" id="add-note-pointer" style="margin-bottom: -20px" type="button"
         data-toggle="modal"
         data-target="#addNote"/>

    <div id="timeline">
        <div id="noNotesAvailable" class="panel panel-default">
            <div class="panel-body">
                Currently there are no notes for this video. Feel free to add some,
                by clicking the "<span style="color: #13987e">+ New note</span>"
                button on the top right.
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
#{set 'moreStyles'} #{/set}



<div id="test">
    <ul id="thread"></ul>
    <input type="text" class="form-control col-xs-4" id="note-title-data" name="note-title-data"
           placeholder="Note title..."/>

    <textarea class="form-control col-xs-4" placeholder="Note content..." name="note-content-data"
              id="note-content-data" cols="10" rows="2"></textarea>

    <input type="hidden" class="form-control col-xs-4" name="note-start-data" id="note-start-data" value=""/>

*{#{include 'add-tag.html'/} <span class="row" style="margin-top: 20px"></span>}*

    <input type="text" hidden="hidden" name="note-start-data" id="note-start-data" value=""/>
    <input type="text" hidden="hidden" name="note-end-data" id="note-end-data" value=""/>
    <input type="text" hidden="hidden" name="video-id-data" id="video-id-data" value="${video.id}"/>
    <input type="text" hidden="hidden" name="user-email-data" id="user-email-data" value="${session.userEmail}"/>
    <input type="text" hidden="hidden" name="user-name-data" id="user-na,e-data" value="${session.userName}"/>
    <input type="text" hidden="hidden" name="user-id-data" id="user-id-data" value="${session.googleUserId}"/>
    <textarea id="new_note"></textarea>
    <button id="send" class="btn btn-default">Send</button>
</div>

<script src="/public/js/timeline.js"></script>
<script>

    $(document).on("mousemove", ".note", function (e) {
        var horizontal_position = e.pageX - this.offsetLeft;
        if (horizontal_position > 100) {
            if (this.offsetLeft - parseInt($("#add-note-pointer").css("marginLeft"), 10) > 100) {
                move_add_pointer_right();
            }
        } else {
            if (this.offsetLeft - parseInt($("#add-note-pointer").css("marginLeft"), 10) < 100)
                move_add_pointer_left();
        }

    })

    function move_add_pointer_right() {
        var margin = parseInt($("#add-note-pointer").css("marginLeft"), 10) + 200;
        $("#add-note-pointer").css("marginLeft", margin + "px");
    }
    function move_add_pointer_left() {
        var margin = parseInt($("#add-note-pointer").css("marginLeft"), 10) - 200;
        $("#add-note-pointer").css("marginLeft", margin + "px");
    }

    $('#note-content').autogrow();


    initializeTimeline(${video.id});

    var player;
    $("#add-new-note").click(function () {
        if (!$("#new-note").is(":visible")) {
            $("#new-note").slideDown(200);
            $(this).text("Close");
        } else {
            $("#new-note").slideUp(200);
            $(this).text("+ New note");
        }
    })


    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '430',
            width: '780',
            videoId: '${video.url}',
            events: {
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerStateChange(event) {
        if (event.data === 1) {  //if the video is playing start catching events
            checkTimePointsOnVideo();
        }
    }


    /* !!!contains timer that runs slideTimeline */
    function checkTimePointsOnVideo() {
        addTimeToPanel();
        /* catches all timepoints on the video*/

        if (!player.getCurrentTime) {
            return false;
        }

        var interval = setInterval(function () {
            player.getPlayerState() // -- Possible values are unstarted (-1), ended (0), playing (1), paused (2), buffering (3), video cued (5).
            if (player.getPlayerState() === 1) {
                var played = Math.round(player.getCurrentTime());
                slideTimeline(played);
            } else if (player.getPlayerState() === 0 || player.getPlayerState() === 2) {
                clearInterval(interval);
            }
        }, 1000);
    }

    var startSeekTime = 0;
    var endSeekTime = 0;

    $("#note-start").change(function () {
        var time = $(this).val().split(":");
        startSeekTime = parseInt(time[0]) * 60 + parseInt(time[1]);
        //player.seekTo(seekTime, false );

        player.cueVideoById("${video.url}", startSeekTime, endSeekTime, "large");
        $("#note-start-int").val(startSeekTime);
    })

    $("#note-end").change(function () {
        var time = $(this).val().split(":");
        endSeekTime = parseInt(time[0]) * 60 + parseInt(time[1]);
        //player.seekTo(seekTime, false );

        player.cueVideoById("${video.url}", startSeekTime, endSeekTime, "large");
        $("#note-end-int").val(endSeekTime);

    })
</script>
<script type="text/javascript">

    // Create a socket
    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
    var socket = new WS('@@{LiveAnnotation.WebSocket.stream()}');

    $('#send').click(function (e) {
        $("#note-start-data").val(Math.round(player.getCurrentTime()));
        var data = $('#test :input').serialize();
        $.post('@{NoteController.saveNote()}', data);
        $('#new_note').val('')

    });

    //pressing 'Enter' instead of clicking
    $('#new_note').keypress(function (e) {
        if (e.charCode == 13 || e.keyCode == 13) {
            $('#send').click()
            e.preventDefault()
        }
    });

    // Message received on the socket
    socket.onmessage = function (event) {
        display(event.data);
    };

    socket.onopen = function (evt) {
        console.log("connected");
    };

    socket.onclose = function (evt) {
        console.log("disconnected");
    };


    socket.onerror = function (evt) {
        console.log("error: " + evt.data);
    };


    // Display a message
    var display = function (event) {
        //document.write(event);
        //(event);
        $('#thread').append('<li>' + event + '</li>');
    }


</script>

//
<script type="text/javascript">

    //     // var c_sh=document.body.scrollHeight;
    //     // var c_sw=document.body.scrollWidth;
    //     // var c_h = $(window).height();
    //     // var c_w= $(window).width();
    //     // document.getElementById('play*r').style.height=0.6*c_h+"px";
    //     // $(function(){
    //     //     $(window).resize(function(){
    //     //         content_height = $(window).height()-110;
    //     //         document.getElementById('play*r').style.height=c_h+"px";
    //     //     });
    //     // });

    $(function () {
        $(document).scrollTop($("#header").offset().top);
    });
</script>



