#{extends 'main.html' /}
#{set title: "${video.title}" /}
#{stylesheet 'video-page.css'/}
#{set 'moreStyles'} #{/set}
#{set 'moreScripts'} 
    <script type="text/javascript">
        var video_url = '${video.url}';
        var video_id = ${video.id};
        var socket_pipe = '@@{LiveAnnotation.WebSocket.stream(video.id)}';
        var save_note_url = '@{NoteController.saveNote()}';
    </script>
    <script type="text/javascript" src="@{'/public/js/video-page.js'}"></script>
    <script type="text/javascript" src="@{'/public/js/timeline.js'}"></script>
    <script type="text/javascript" src="@{'/public/js/add-tag.js'}"></script>
    <script type="text/javascript" src="@{'/public/js/jquery.flip.min.js'}"></script>
#{/set}


<div id="header" class="page-header">
    <h3>${video.title}</h3>
</div>
<div class="row">
    <div class="container wrap">
        <div id="main_player"></div>
        <script type="text/javascript" src="@{'/public/js/iframe_api.js'}"></script>
    </div>
</div>


<div class="clearfix"></div>

<div id="slideHandler" class="row">
    <div class="container wrap">
        <span id="syncText">
            <div class='alert-success'>
                <span class="glyphicon glyphicon-check"></span> Timeline is syncronized with the video
            </div>
        </span>
    </div>
</div>
<div class="row">
    <div id="timeline">
        <div id="pastNotes"></div>
        <div id="mainPanel" class="flipbox-container">
            <div id="mainFlipBox">
                <div id="currentNotes"></div>
            </div>
        </div>
        <div id="optionsPanel" class="flipbox-container">
            <div id="options">
                <div id="currentTime">
                    <span id="timerText">Time</span><br/>
                    <span id="timer"></span>
                </div>
            #{if session.userEmail}
                <div id="addNoteBtn" class="btn btn-danger btn-block" onclick="flipMainPanel()"><span class="glyphicon glyphicon-pencil"></span> Note</div>
                <div id="revertFlip" class="btn btn-danger btn-block" onclick="flipMainPanel()" style="display: none">
                    <span class="glyphicon glyphicon-refresh"></span>
                </div>
            #{/if}
            #{if !session.userEmail}
                <div id="addNoteBtn" class="btn btn-danger btn-block" onclick="mustBeLoggedIn()">+Note</div>
            #{/if}
            </div>
        </div>
        <div id="futureNotes"></div>
    </div>
</div>

<div id="newNoteForm" style="display: none">
    <form class="form-horizontal" style="margin-top: 10px;" role="form">
        <div id="note-title-group" class="form-group">
            <label for="note-title-data" class="col-sm-2">Title</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="note-title-data" name="note-title-data"
                       placeholder="Note title..."/>
            </div>
        </div>

        <div id="note-content-group" class="form-group">
            <label for="note-content-data" class="col-sm-2">Content</label>

            <div class="col-sm-10">
                <textarea class="form-control" placeholder="Note" name="note-content-data" id="note-content-data"
                          cols="10" rows="1"></textarea>
            </div>
        </div>

        <div id="note-tags-group" class="form-group">
            <label for="tagsInput" class="col-sm-2">Tags</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="tagsInput" name="tagsInput" onkeyup="addTag(event, $(this))"
                       placeholder="Type tags separated by comma..."/>
            </div>
            <div class="col-sm-10 pull-right" id="tagsList" style="margin:10px 0px"></div>
        </div>

        <input type="text" hidden="hidden" name="note-start-data" id="note-start-data" value=""/>
        <input type="text" hidden="hidden" name="video-id-data" id="video-id-data" value="${video.id}"/>
        <input type="text" hidden="hidden" name="user-email-data" id="user-email-data" value="${session.userEmail}"/>
        <input type="text" hidden="hidden" name="user-name-data" id="user-na,e-data" value="${session.userName}"/>
        <input type="text" hidden="hidden" name="user-id-data" id="user-id-data" value="${session.googleUserId}"/>
        <input type="text" hidden="hidden" name="tags" id="tags" value=""/>


        <button id="saveNoteBtn" class="btn btn-danger" type="button" onclick="sendNoteBySocket()">Save note</button>
        <div id="savePrivateNoteBtn" class="btn btn-default">Save as private note</div>
    </form>
</div>

<div class="modal fade" id="formValidateModal" tabindex="-1" role="dialog" aria-labelledby="formValidateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Saving Note Failed</h4>
            </div>
            <div class="modal-body">
                <p>
                    Either the title or content field must contain content, otherwise you cannot save your note!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
