<div class="row" style="padding: 10px 50px">
    <a href="/"><img src="/public/img/logo.png" style="height: 70px;" class="pull-left"/></a>

    <div  id="Gphoto" class="row pull-right text-center" style="width: 70px">
     <!--     <img src="/public/img/user.png" style="width: 50px; margin-bottom: 5px" class="img-circle"/>-->
       <div id= "userDetailss" hidden="true">
        <div id="userDetails" class="btn-group"  >
              <button  id="nameButton" hidden="true" type="button" class="btn btn-success dropdown-toggle  btn-xs" data-toggle="dropdown">
         
                <span id="spanN"class="caret" ></span>  
            </button>
 
            <ul class="dropdown-menu text-left">
                <li><a href="@{VideoController.addVideo()}"><span class="glyphicon glyphicon-facetime-video"></span> Add video</a></li>
                <li><a href="/"><span class="glyphicon glyphicon-user"></span> Personal page</a></li>
                <li><a id="logout2" onclick="logout()"   ><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
            </ul>
        </div>
        </div>
                  <div align="right">
            <div  hidden="true"id="gConnect" style="float: left">
               <img onclick="login()" src="/public/img/images.png"/>
            </div>        
         
        </div>
    </div>
    
</div>