<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="hidden-xs" href="/"><img src="/public/img/logo.png" class="pull-left logo"/></a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            <li>
                *{<form class="navbar-form navbar-left search-form" role="search" method="POST"}*
                      *{action="@{VideoController.search}">}*
                    <div class="form-group">
                        <input type="text" id="query" value="${params.query}" ng-model="search.title" name="query"
                               class="form-control search" placeholder="Search">

                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                    <button class="btn btn-danger new-video" type="button" data-toggle="modal" data-target="#addVideo">
                        <span class="glyphicon glyphicon-plus"></span> Share new video
                    </button>
                *{</form>}*
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li id="login_btn" style="display: none">
                <a href="javascript:;" onclick="login()">
                    <img height="34px" src="/public/img/g-auth-btn.png"/>
                </a>
            </li>
            <li class="dropdown" id="profile_btn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span id="personal_image"></span>
                    <span id="personal_name">${session.userName}</span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/">
                            <span class="glyphicon glyphicon-cog"></span> Profile details
                        </a
                    </li>
                    <li>
                        <a href="javascript:;" id="logout" onclick="logout()">
                            <span class="glyphicon glyphicon-log-out"></span> Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="addVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true"></div>
<div class="modal fade" id="mustBeLoggedIn" tabindex="-1" role="dialog" aria-labelledby="mustBeLoggedInLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Register / Login</h4>
            </div>
            <div class="modal-body">
                <p>
                    You must be logged in to use this Feature!<br/>
                    You can register/login for free on the top right by clicking the <img height="34px"
                                                                                          src="/public/img/g-auth-btn.png">
                    Button.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
