<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/img/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-2.0.3.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>
        #{get 'moreScripts' /}
    </head>
    <body>


        <div id="content">
            #{doLayout /}
        </div>


    </body>
</html>
