<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>

    <meta charset="${_response_encoding}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="@{'public/css/bootstrap.min.css'}" rel="stylesheet">
    <link href="@{'public/css/main.css'}" rel="stylesheet">
    <link href="@{'public/css/style.css'}" rel="stylesheet">
#{get 'moreStyles' /}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="@{'public/js/jquery-2.0.3.min.js'}"></script>
    <script type="text/javascript" src="@{'public/js/bootstrap.min.js'}"></script>
    <script type="text/javascript" src="@{'public/js/scripts.js'}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <!-- 	https://github.com/AlexChittock/JQuery-Session-Plugin  -->
    <script type="text/javascript" src="@{'public/js/jquery.session.js'}"></script>
#{get 'moreScripts' /}


</head>
<body>

<script type="text/javascript" src="@{'public/js/google-plus-script-init.js'}"></script>

<!-- <div id="gConnect">
  <button class="g-signin"
     data-scope="https://www.googleapis.com/auth/userinfo.email" "https://www.googleapis.com/auth/userinfo.email" https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/plus.me
     data-requestvisibleactions="http://schemas.google.com/AddActivity"
     data-clientId="201851680458-sumhf8v1qua2s1bn33dk9o8q34b0kvav"
     data-callback="onSignInCallback"
     data-theme="dark"
     data-cookiepolicy="single_host_origin">
 </button>
</div>
<div id="authOps" style="display:none">
 <div id="profile" style="float:left"></div>
 <button id="disconnect" style="float:left">Disconnect</button>


 <div id="profile"></div>



 <pre id="authResult"></pre>
</div>
<div id="loaderror"> </div>
-->
<header>
#{include 'header.html'/}
</header>

<div id="content">
#{doLayout /}
</div>


<script type="text/javascript">
    var a = 0;

    var helper = (function () {
        var BASE_API_PATH = 'plus/v1/';

        return {
            logout: function () {
                $('#gConnect').show();
                $('#logout').hide();
                $('#disconnect').hide();
                $('#profile').empty();
                var url = #{jsAction @Application.logout() /}
                        $.get(url(), function () {
                        });
            },
            onSignInCallback: function (authResult) {
                console.log(authResult);
                console.log(authResult.access_token);
                var url = #{jsAction @Application.loginToken(':a' ) /}
                        $.get(url({a: authResult.access_token}), function () {
                            console.log(authResult.access_token);


                        });
                gapi.client.load('plus', 'v1', function () {
                    if (authResult['access_token']) {
                        $('#authOps').show('slow');
                        $('#gConnect').hide();
                        $('#logout').show();
                        $('#disconnect').show();
                        helper.profile();
                        helper.people();
                    } else if (authResult['error']) {
                        $('#authOps').hide('slow');
                        $('#gConnect').show();
                        $('#logout').hide();
                        $('#disconnect').hide();


                    }
                });
            },
            disconnect: function () {
                $.ajax({
                    type: 'GET',
                    url: 'https://accounts.google.com/o/oauth2/revoke?token=' +
                            gapi.auth.getToken().access_token,
                    async: false,
                    contentType: 'application/json',
                    dataType: 'jsonp',
                    success: function (result) {
                        $('#authOps').hide();
                        $('#profile').empty();
                        $('#visiblePeople').empty();
                        $('#authResult').empty();
                        $('#gConnect').show();
                        $('#logout').hide();
                        $('#disconnect').hide();
                        var url = #{jsAction @Application.disconnectAccount() /}
                                $.get(url(), function () {
                                });
                    },
                    error: function (e) {
                    }
                });
            },

            profile: function () {
                var request = gapi.client.plus.people.get({'userId': 'me'});
                request.execute(function (profile) {
                    console.log(98);
                    // var f = JSON.stringify(profile);
                    a = 1;
                    var f = profile.emails[0].value;
                    var url = #{jsAction @Application.login(':email',':id',':displayName' ) /}
                            $.get(url({email: f, id: profile.id, displayName: profile.displayName}), function () {
                                console.log(profile.displayName);

                            });

                    console.log(profile.emails[0].value);

                    $('#profile').empty();
                    if (profile.error) {
                        $('#profile').prepend(profile.error);
                        return;
                    }
                    $('#profile').prepend(
                            $('<p><img src=\"' + profile.image.url + '\"></p>'));
                    $('#profile').append(
                            $('<p>Hello ' + profile.displayName + '</p>'));

                });
            }
        };
    })();
    $(document).ready(function () {
        $('#disconnect').click(helper.disconnect);
        $('#logout').click(helper.logout);
        $('#loaderror').hide();
        if ($('[data-clientid=["201851680458-sumhf8v1qua2s1bn33dk9o8q34b0kvav"]').length > 0) {
            alert('This sample requires your OAuth credentials (client ID) ' +
                    'from the Google APIs console:\n' +
                    '    https://code.google.com/apis/console/#:access\n\n' +
                    'Find and replace YOUR_CLIENT_ID with your client ID.'
            );
        }
    });
    function onSignInCallback(authResult) {
        helper.onSignInCallback(authResult);

    }
</script>


</body>
</html>
